*
 { box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 body{
    font-family: 'Raleway';
    font-style: normal;
 }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80px;
        padding: 20px;
        width: 1230px;
    }
    .logo {
        cursor: pointer;
        height: 28px;
        margin-top: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        }
    .navlinks {
        display: flex;
        list-style-type: none;
        margin-top: 12px;
        margin-left: 200px;
        width: 70%;
        justify-content: space-between;
    }
    .navlinks li a:hover{ 
        color: powderblue;
    }
    .navlinks li{ 
        padding: 0px 20px;
    }
    .navlinks li a {
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        color: #333333;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }
    .navbutton{ 
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
        padding: 10px 5px;
        width: 177px;
        height: 50px;
        background: #295251;
        justify-content: space-between;
    }
    .navbutton a {
        color: #FFFFFF;
        text-decoration: none;
    }
    .backgroundcontainer{
        width: 1310px;
        height: 765px;
    }
    .main-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 41%;
        padding: 30px 30px;
        height: 69%;
        top: 233px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);backdrop-filter: blur(50px);
        z-index: 2;
        }
    .main-page h1{
        width: 480px;
        height: 222px;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        }
    .main-page p{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        width: 390px;
        height: 82px;
        margin-top: 10px; margin-bottom: 10px;
    }
    #main-image {
        width: 1032px;
        height: 762px;
        z-index: 1;
        justify-items: right;
        margin-left: 20%;
        }
    #searchbar{
        width: 370px;
        height: 30px;
        border: none;
        padding: 10px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
    #searchicon{
        position: relative;
        top: 5px;
        right: 30px;
    }
    .mainheader2{
        width: 1410px;
        height: 960px;
    }
    .header2container{
            justify-content: space-between;
            margin-top: 60px;
            display: flex;
        }
    .header2 {
            font-family: 'Raleway';
            font-size: 34px;
            font-weight: 700;
            letter-spacing: 0em;
            margin-left: 100px;
            }

    .subheader2{ 
            height: 10px;
            width: 50px;
            text-decoration: none;
            position: relative;
            top: 8px;
            left: 380px;
            font-family: Raleway;
            font-weight: 500;
            color:#333333;
            }
    
    .miniheader ul{
        display: inline-flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        position: relative;
        left: 450px; 
    }
    .miniheader ul li{
        padding: 0px 25px;  
    }
    .miniheader ul li a{
        text-decoration: none;  
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px; 
        color: #A1A6BA ;
    }
    #all{
        color: #333333;
    }
    .maincontainer1{
        display: flex;
        padding: 20px 20px;
        justify-content: space-evenly;

    }
    .subcontainer1{
        padding: 20px 40px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer2{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer3{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .maincontainer2{
        display: flex;
        padding: 20px 0px ;
        justify-content: space-evenly;

    }
    .subcontainer4{
        padding: 20px 40px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer5{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer6{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    #subcontainerheading{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    #subcontaineramount{
        display: flex;
        justify-content: space-between;
        width: 120px;
    }
    #subprice{
        text-decoration: line-through;
    }
    .dealscontainer{
        display: flex;
        justify-content: space-around;
        padding: 10px 20px;
    }
    .deal1{
        padding: 20px 20px;
    }
    .deal2{
        padding: 20px 20px;
    }
    .deal3{
        padding: 20px 20px;
    }
    .deal4{
        padding: 20px 20px;
    }
    .deal1 h3{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 63px;
        color: #333333;
    }
    .deal2 p, .deal3 p, .deal4 p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #333333;
        position: relative; 
        top: 100px;   
    }
    #subdeals {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #C4C4C4;
    }
    #subdeals img{
        position: absolute;
        top: -55px;
        width: 20px ;
        height: 24px;
    }
    .about{
        padding: 20px 20px;
    }
    .about h4{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        color: #333333;
    }
    .about p{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #C4C4C4;
    }
    .aboutcontainer{
        display: flex;
        width: 1352px;
    }
    .aboutcontainer2{
        display: flex;
    }
    .aboutheader{
        color:#333333;
        font-weight: 500;
        font-size: 54px;
    }
    .aboutheader2{
        font-weight: 700;
        font-size: 24px;
    }
    .aboutcontent{
        font-weight: 500;
        font-size: 18px;
        color: #A1A6BA;
        width: 300px;
    }
    .aboutcontainer table{
        flex: 135%;
    }
    td{
        padding: 0px 20px;
        Width: 320px;
        height: 165px;
        text-align: justify;   
    }
    .aboutcontainer2 img{
        width: 204px;
        height: 150px;
    }
    #aboutpic{
        Height: 272px;
    }
    .review {
        Width:1344px;
        Height: 854px;
        background-color: #F5F5F5;
        padding: 100px 100px;
        text-align: center;
    }
    .review h5{
        display: inline-block;
        width: 506px;
        height: 124px;
        color: #333333;
        font-weight: 700;
        font-size: 54px;
        line-height: 63px;
    }
    .customerpic{
        width: 713px;
        height: 300px;
        margin-top: 20px;
    }
    .rating{
        width: 108px;
        height: 19.97px;;
    }
    .customername{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #333333; 
        margin-top: 20px;  
    }
    .customercontent{
        width: 1009px;
        height: 93px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 10px 10px;
        color: #333333;
        margin-top: 20px; margin-left: 55px;
    }

    footer{
        width: 1344px;
        height: 617px;
        background-color:#295251;
        padding: 100px 100px;
    }
    h6{ width: 720px;
        height: 125px;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .footercontainer{
        display: flex;
        margin-top: 80px;
        
    }
    .footerquote1{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footerquote2{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        width: 268px;
        height: 70px;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        margin-top: 30px;
    }
    .footersubcontainer{
        display: flex;
        flex: 60%;
        margin-left: 150px;
        justify-content: space-between;
    }
    .footersubcontainer ul{
        list-style: none;
        color: #FFFFFF;
    }
    .footersubcontainer ul li{padding: 5px;}
    .footersubcontainer ul li a {
        text-decoration: none; 
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.03em;
    }