*
 { box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body{
    font-family: 'Raleway';
    font-style: normal;
 }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 115px;
    }
    .logo {
        cursor: pointer;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        }
    .navlinks {
        display: flex;
        list-style-type: none;
        padding-left: 70px;
        justify-content: space-between;
    }
    .navlinks li a:hover{ 
        color: powderblue;
    }
    .navlinks li{ 
        padding: 0px 20px;
    }
    .navlinks li a {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        color: #333333;
        text-decoration: none;
    }
    .navbutton{ 
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.03em;
        padding: 10px 10px;
        background: #295251;
        border-radius: 8%;
    }
    .navbutton a {
        color: #FFFFFF;
        text-decoration: none;
    }
    .navbutton a:hover{
        color: powderblue;
    }

    #main-image {
            width: 1032px;
            height: 762px; 
            margin-left: 23%;
            }
    .main-page{
        padding: 30px 20px;
        position: absolute;
        top: 263px;
        background-color: rgba(255, 255, 255, 0.3);backdrop-filter: blur(50px);
        }
    .main-page h1{
        width: 480px;
        height: 222px;
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        }
    .main-page p{
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        width: 390px;
        height: 82px;
        margin-top: 10px; margin-bottom: 10px;
    }
    #searchbar{
        width: 370px;
        height: 30px;
        border: none;
        padding: 10px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
        border-radius: 10px;
    }
    #searchicon{
        position: relative;
        top: 5px;
        right: 30px;
    }
    .header2container{
            justify-content: space-between;
            margin-top: 60px;
            display: flex;
            cursor: pointer;
        }
    .header2 {
            font-size: 34px;
            font-weight: 700;
            letter-spacing: 0em;
            margin-left: 100px;
            }

    .subheader2{ 
            height: 10px;
            width: 50px;
            text-decoration: none;
            position: relative;
            top: 8px;
            left: 380px;
            font-family: Raleway;
            font-weight: 500;
            color:#333333;
            }
    
    .miniheader ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-align: center;
        padding: 0 30%;
    }
    .miniheader ul li{
        padding: 0px 25px;  
    }
    .miniheader ul li a{
        text-decoration: none;  
        font-weight: 500;
        font-size: 18px; 
        color: #A1A6BA;
    }
    .miniheader ul li a:hover{
        color: powderblue;
    }
    #all{
        color: #333333;
    }

    .maincontainer1{
        display: flex;
        padding: 20px 100px;
        justify-content: space-between;
        

    }
    .subcontainer1{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer2{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer3{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    } 
    .maincontainer2{
        display: flex;
        padding: 20px 100px ;
        justify-content: space-between;
    }
    .subcontainer4{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer5{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    }
    .subcontainer6{
        padding: 20px 50px;
        background: rgba(196, 196, 196, 0.17);
    } 
    #subcontainerheading{
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;
        text-align: center;
    }
    #subcontaineramount{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        margin: 10px;

    }
    .subcontainerpic{
        width: 183px; 
        height: 290px;
    }
    #subprice{
        text-decoration: line-through;
    }
    .dealscontainer{
        display: flex;
        justify-content: space-around;
        padding: 10px 20px;
    }
    .maindeals{
        margin-left: 30px;
    }
    .deal1{
        padding: 20px 20px;
    }
    .deal2{
        padding: 20px 20px;
    }
    .deal3{
        padding: 20px 20px;
    }
    .deal4{
        padding: 20px 20px;
    }
    .deal1 h3{
        font-weight: 700;
        font-size: 54px;
        line-height: 63px;
        color: #333333;
    }
    .deal2 p, .deal3 p, .deal4 p {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #333333;
        position: relative; 
        top: 100px;   
    }
    #subdeals {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #C4C4C4;

    }
    #subdeals img{
        position: absolute;
        top: -55px;
        left: 40px;
        width: 20px ;
        height: 24px;
    }
    .about{
        padding: 20px 20px;
        margin-left: 20px;
    }
    .about h4{
        font-weight: 700;
        font-size: 54px;
        color: #333333;
    }
    .about p{
        font-weight: 500;
        font-size: 18px;
        color: #C4C4C4;
    }
    .aboutcontainer{
        display: flex;
        width: 13px;
        margin-left: 20px;
        
    }
    .aboutcontainer2{
        display: flex;
        margin-left: 60px;
        padding: 0px 20px;
    }
    .imagediv1{
        margin-right: 20px;
        position: relative;
        top: 10%;
    }
    .aboutheader{
        color:#333333;
        font-weight: 500;
        font-size: 54px;
    }
    .aboutheader2{
        font-weight: 700;
        font-size: 24px;
    }
    .aboutcontent{
        font-weight: 500;
        font-size: 18px;
        color: #A1A6BA;
        width: 300px;
    }
    td{
        padding: 0px 20px;
        Width: 320px;
        height: 165px;
        text-align: justify;   
    }
    .aboutcontainer2 img{
        width: 204px;
        height: 150px;
    }
    #aboutpic{
        Height: 272px;
        margin-bottom: 10px;
    }
    #aboutpicc{
        margin-bottom: 10px;
    }
    .review {
        background-color: #F5F5F5;
        padding: 100px 100px;
        text-align: center;
        margin-top: 100px;
    }
    .review h5{
        display: inline-block;
        font-style: Bold;
        width: 506px;
        height: 124px;
        color: #333333;
        font-weight: 700;
        font-size: 54px;
        line-height: 63px;
    }
    .customerpic{
        width: 713px;
        height: 300px;
        margin-top: 20px;
    }
    .rating{
        width: 108px;
        height: 19.97px;;
    }
    .customername{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #333333; 
        margin-top: 20px;  
    }
    .customercontent{
        width: 1009px;
        height: 93px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 10px 10px;
        color: #333333;
        margin-top: 20px; margin-left: 55px;
    }

    footer{
        background-color:#295251;
        padding: 100px 100px;
    }
    h6{ width: 720px;
        height: 125px;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .footercontainer{
        display: flex;
        margin-top: 80px;
        
    }
    .footerquote1{
        font-weight: 700;
        font-size: 34px;
        line-height: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .footerquote2{
        font-style: medium;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        width: 268px;
        height: 70px;
        color: #FFFFFF;
        letter-spacing: 0.03em;
        margin-top: 30px;
    }
    .footersubcontainer{
        display: flex;
        flex: 60%;
        margin-left: 150px;
        justify-content: space-between;
    }
    .footersubcontainer ul{
        list-style: none;
        color: #FFFFFF;
    }
    #footersubheading{
        padding: 5px;
        font-weight: 700;
        font-size: 18px;

    }
    .footersubcontainer ul li{
        padding: 5px;
        font-size: 15px;
    }
    .footersubcontainer ul li a {
        text-decoration: none; 
        color: #FFFFFF;
        line-height: 21px;
        letter-spacing: 0.03em;
        width: 45px;
        height: 21px;
    }
    .footersubcontainer ul li a:hover{
        color: powderblue;
    }
    
    .hamburger{
        display:none;   
    }



@media screen and (max-width: 450px) {
    .hamburger{
        display: flex;
        width: 35px;
        height: 35px;
        padding-right: 20%;
        cursor: pointer;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 25px 15px;
        border: 5px solid #295251;
    } 
    .logo{ 
        color: #295251;
        font-size:xx-large;
        
    }
    .navlinks{
        display: none;
    }
    .navbutton{
        display:none;
    }
    .main-page h1{
        width: 360px;
        height: 142px;
        font-size: 48px;
        line-height: 55px;
    }
    .main-page p{
        font-size: 18px;
        line-height: 28px;
        width: 330px;
        height: 82px;
        margin-top: 30px; margin-bottom: 10px;
    }
    .main-page{
        margin: auto;
        padding: 2% 0%;
    }
    #main-image {
        width: 100%;
        max-height: 40% ;
        margin-left: 0;
    }
    #searchbar{
        width: 270px;
    }
    .header2{
        font-size: 20px;
        margin-left: 5%;
    }
    .subheader2{
        position: relative;
        top: 8px;
        left: 100px;
    }
    .header2container{
        margin-top: 2%;
        display: flex;
        align-items: center;
    }
    .miniheader ul li{
        padding: 0px 5px;
    }
    .miniheader ul li a{ 
        font-weight: 500;
        font-size: 12px; 
       
    }
    .miniheader ul{
        padding: 0 20%;

    }
    #subcontainerheading{
        font-size: 12px;
    }
    .subcontainerpic{
        width: 73px; 
        height: 90px;
        padding-left: 20px;
    }
    .maincontainer{
        padding-left: 10px;
    }
    .maincontainer1{
        padding: 0px 20px;
        display: inline-block;   
    }
    .maincontainer2{
        padding: 0px 20px;  
        display: inline-block;  
    }
    #subcontaineramount p{
        font-size: 10px;
    }
    .subcontainer1{
        padding: 5px 5px; 
        margin-bottom: 10px; 
    }
    .subcontainer2{
        padding: 5px 10px;
        margin-bottom: 10px; 
    }
    .subcontainer3{
        padding: 5px 10px;
    }
    .subcontainer4{
        padding: 5px 5px;
        margin-bottom: 10px; 
    }
    .subcontainer5{
        padding: 5px 10px;
        margin-bottom: 10px; 
    }
    .subcontainer6{
        padding: 5px 10px;
    }
    .dealscontainer{
        padding: 0px;
    }
    .maindeals{
        margin-left: 0px;
    }
    .deal1 h3{
        font-size: 20px;
        line-height: 20px;  
    }
    #subdeals {
        font-weight: 200;
        font-size: 10px;
    }
    .deal2 p, .deal3 p, .deal4 p{
        font-weight: 600;
        font-size: 15px;
        position: relative; 
        top: 0px;
    }
    .about{
        margin-left: 0px;
    }
    .about h4{
        font-weight: 600;
        font-size: 34px;
    }
    .about p{
        font-weight: 500;
        font-size: 12px;
    }
    .aboutheader{
        font-size: 34px;
    }
    .aboutheader2{
        font-size: 22px;
    }
    .aboutcontent{
        font-size: 12px;
        width: 130px;
    }
    tr{
        padding: 0px 20px;
    }
    .aboutcontainer2{
        display: none;
    }
    .review {
        margin-top: 20px;
        padding: 50px 50px;
        padding-bottom: 100px;
    }
    .review h5{
        font-size: 24px;
        width: 256px;
        height: 64px;
        line-height: 33px;
        margin-bottom: 30px;
    }
    .customerpic{
        width: 300px;
        height: 100px;
        margin-top: 0px;
    }
    .customercontent{
        width: 300px;
        margin: 0px;
        font-size: 15px;
        padding-bottom: 20px;
    }
    footer{
        padding: 40px 40px;
    }
    h6{
        width: 320px; 
        font-size: 28px;
        line-height: 36px;
    }
    td{
        padding-left: 5px;
    }
    .footercontainer{
        display: block;
        margin-top: 30px;
    }
    .footersubcontainer{
        margin-left: 0px;
        flex: 100%;
        
    }
    .footerquote1{
        font-size: 25px;
    }
    .footerquote2{
        margin: 10px;
        font-weight: 200;
    }
    #footersubheading{
        width: 105px;
        font-size: 16px;
        padding: 0px;
        
    }
    .maillogo{
       display: flex;
      
    }
    .maillogo a{
        font-size: 11px;
    }
}
